<!-- Contact Start -->
<div class="wshipping-content-block" id="contato">
    <div class="container">
      <div class="row flex-lg-row-reverse">
         <div class="col-12 col-lg-4">
            <div class="address">
               <h3>PRODUMAR - LOJA</h3>

               <div class="address-block">
                  <ul>
                    <a target="_blank" href="http://bit.ly/Localização-Produmar"><li class="address-icon">Rua Chile 116, Ribeira, Natal/RN  <br> Ao lado do antigo Palácio do Governo e próximo a Tavares de Lira (Mapa).</li></a>
                    <li class="fax-icon">Seg. a Sex.: 08:00 às 17:30 e Sab.: 08:00 às 12:00.</li>
                    <li class="phone-icon">+55 (84) 4006-2030</li>

                    <a target="_blank" href="https://bit.ly/WhatsApp-Produmar"><li class="whatsapp-icon">+55 84 99841-3000</li></a>
                    <a target="_blank" href="https://bit.ly/Facebook-Produmar"><li class="facebook-icon">Facebook</li></a>
                    <a target="_blank" href="https://bit.ly/Instagram-Produmar"><li class="instagram-icon">Instagram</li></a>

                    <li class="email-icon"><a href="javascript:void(0)" title="">loja@produmar.ind.br</a></li>
                  </ul>
               </div>
            </div>
            <div class="address">
               <h3>Matriz</h3>
               <div class="address-block">
                  <ul>
                    <li class="address-icon">Rua Chile 128, Ribeira, Natal/RN</li>
                    <li class="fax-icon">Seg. a Sex.: 08:00 às 18:20</li>
                    <li class="phone-icon">+55 (84) 4006-2000 </li>


                    <li class="email-icon"><a href="javascript:void(0)" title="">produmar@produmar.ind.br</a></li>
                  </ul>
               </div>
            </div>
           
         </div>
         <div class="col-12 col-lg-8">
            <div class="contact-text">
              <h3>Contato</h3>
               <p></p>
            </div>
            <div class="contact-form">
               <!-- <h3 class="heading3-border text-uppercase">Quick Feedback Form</h3> -->
               <form method="post" class="form_contato">
                  <div class="form-group">
                     <div class="row">
                       <div class="col-12 col-lg-6">
                        <input required="" name="nome" type="text" class="form-control" placeholder="Nome">
                       </div> 
                       <div class="col-12 col-lg-6">
                        <input name="assunto" type="text" class="form-control" placeholder="Assunto">
                       </div> 
                     </div>   
                   </div>
                   <div class="form-group">
                     <div class="row">
                       <div class="col-12 col-lg-6">
                        <input required="" type="email" name="email" class="form-control" placeholder="Email">
                       </div>
                       <div class="col-12 col-lg-6">  
                        <input required="" name="telefone" type="text" class="form-control" placeholder="Telefone">
                       </div>  
                     </div>   
                   </div>
                   <div class="form-group">
                        <textarea required="" name="mensagem" class="form-control" placeholder="Mensagem"></textarea>
                   </div>
                    <div class="form-group">
                       <button type="submit" class="btn btn-submit">Enviar</button>
                    </div>
                    <p class="msg_enviada"></p>
                </form>
             </div>  
         </div>
      </div>
    </div>
  </div>
  <!-- Contact end -->